Admin/frontend/.env
Admin/frontend/node_modules
Admin/backend/node_modules
Admin/backend/.env

Level0/frontend/.env
Level0/frontend/node_modules
Level0/backend/node_modules
Level0/backend/.env

Level1/frontend/.env
Level1/frontend/node_modules
Level1/backend/node_modules
Level1/backend/.env

Level2/frontend/.env
Level2/frontend/node_modules
Level2/backend/node_modules
Level2/backend/.env

Level3/frontend/.env
Level3/frontend/node_modules
Level3/backend/node_modules
Level3/backend/.env

Level4/frontend/.env
Level4/frontend/node_modules
Level4/backend/node_modules
Level4/backend/.env

Level5/frontend/.env
Level5/frontend/node_modules
Level5/backend/node_modules
Level5/backend/.env
